{% extends 'index.html' %}
{% load static %}

{% block title %}Tax Categories {% endblock %}

{% block breadcrumbs %}
<h3>Finance Portal</h3>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="{% url 'dashboard' %}"></a> Dashboard</li>
    <li class="breadcrumb-item"><a href="{% url 'transaction' %}">Transactions</a></li>
    <li class="breadcrumb-item"><a href="{% url 'invoice_list' %}">Invoices</a></li>
    <li class="breadcrumb-item"><a href="{% url 'mileage_list' %}">Mileage Log</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-6">
        {% include 'finance/category_list.html' %}
    </div>
    <div class="col-6">
        {% include 'finance/sub_category_list.html' %}
    </div>
</div>
{% endblock %}