{% extends "index.html" %}
{% load static %}
{% load l10n %}
{% load humanize %}

{% block title %} Mileage Log {% endblock %}

{% block breadcrumbs %}
<h3>Finance Portal</h3>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'transactions' %}">Transactions</a></li>
    <li class="breadcrumb-item"><a href="{% url 'invoice_list' %}">Invoices</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mileage Log</a></li>
    <li class="breadcrumb-item"><a href="{% url 'category_page' %}">Categories</a></li>
    <li class="breadcrumb-item"><a href="{% url 'reports' %}">Financial Reports</a></li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<body> 
    <div class="container">
        <h3 class="section-heading text-center mt-2">Mileage Log</h3>
        <div class="row px-3 text-center mb-3">
            <a href="{% url 'mileage_create' %}" class="btn btn-success my-2">
                <i class="fa-solid fa-plus"></i> Add Mileage
            </a>
            <a href="{% url 'update_mileage_rate' %}" class="btn btn-warning">
                <i class="fa-solid fa-plus"></i> Update Mileage Rate
            </a>  
        </div>
            <div class="table-responsive">
                <table class="table table-hover mb-4">
                    <thead class="table-light">
                        <tr>
                            <th>Date</th>
                            <th>Client</th>
                            <th>Vehicle</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Total</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mile in mileage_list %}
                        <tr>
                            <td>{{ mile.date }}</td>
                            <td>{{ mile.client }}</td>
                            <td>{{ mile.vehicle }}</td>
                            <td>{{ mile.begin }}</td>
                            <td>{{ mile.end }}</td>
                            <td>{{ mile.total }}</td>
                            <td>{{ mile.mileage_type }}</td>
                            <td>
                                <a href="{% url 'mileage_update' mile.id %}">
                                    <i class="fa-solid fa-pen text-success"></i>
                                </a>&nbsp;
                                <a href="{% url 'mileage_delete' mile.id %}">
                                    <i class="fa-solid fa-trash text-warning"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="8" class="text-center text-muted">No mileage entries.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>

                <div class="mt-4 text-center">
                    <h3 class="section-heading mb-2">Yearly Mileage Summary</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Total Taxable Miles for {{ current_year }}:&nbsp;   <span class="strong fs-5 text-primary"> {{ total_miles }}</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>Total Taxable Mileage Amount ($ .{{ mileage_rate }} per mile): &nbsp; <span class="strong fs-5 text-primary">$ {{ taxable_dollars|floatformat:2|intcomma }}</span></p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</body>
{% endblock %}